<div>
    <h4 style="text-align: center; margin-bottom: 20px;">Classifica Stagione: {{ selectedSummary.season_id < 10 ? '0' + selectedSummary.season_id : selectedSummary.season_id}} / {{selectedSummary.season_year}}</h4>
    <table *ngIf="fullModeVisualization" tuiTable class="table" [columns]="columns" style="margin: 30px; margin-top: 30px; margin-left: 15px; width: 95%;">
        <thead>
            <tr tuiThGroup>
                <th class="txt-center-align v-align-middle w-100" tuiTh>Posizione</th>
                <th class="txt-center-align v-align-middle" style="width: fit-content;" tuiTh>Squadra</th>
                <th class="txt-center-align v-align-middle" tuiTh>Giocate</th>
                <th class="txt-center-align v-align-middle" tuiTh>Vittorie</th>
                <th class="txt-center-align v-align-middle" tuiTh>Pareggi</th>
                <th class="txt-center-align v-align-middle" tuiTh>Sconfitte</th>
                <th class="txt-center-align v-align-middle" tuiTh>Diff. Reti</th>
                <th class="txt-center-align v-align-middle font-b" tuiTh>Punti</th>
            </tr>
        </thead>
        <tbody tuiTbody [data]="leagueStats">
            <tr *ngFor="let item of leagueStats; let i = index" tuiTr>
                <td *tuiCell="'position'" class="txt-center-align v-align-middle ftsz-15" tuiTd>{{ i+1 }}</td>
                <td *tuiCell="'team'" class="v-align-middle ftsz-15" tuiTd>
                    <span><img style="width: 30px; height: 30px; margin-right: 10px; margin-left: 10px;" src="{{item.team_logo}}">{{ item.team }}</span>
                </td>
                <td *tuiCell="'games_played'" class="txt-center-align v-align-middle ftsz-15" tuiTd>{{ item.gamesPlayed }}</td>
                <td *tuiCell="'wins'" class="txt-center-align v-align-middle ftsz-15" tuiTd>{{ item.wins }}</td>
                <td *tuiCell="'draws'" class="txt-center-align v-align-middle ftsz-15" tuiTd>{{ item.draws }}</td>
                <td *tuiCell="'losses'" class="txt-center-align v-align-middle ftsz-15" tuiTd>{{ item.losses }}</td>
                <td *tuiCell="'goal_difference'" class="txt-center-align v-align-middle ftsz-15" tuiTd>{{ item.goalDifference }}</td>
                <td *tuiCell="'points'" class="txt-center-align v-align-middle ftsz-15-b" tuiTd>{{ item.points }}</td>
            </tr>
        </tbody>
    </table>
</div>
