<div style="text-align: center; font-size: larger;">Albo D'oro Calciatori - Stagione: {{selectedSummary.season_id < 10 ? 0 + selectedSummary.season_id : selectedSummary.season_id }}, Anno: {{selectedSummary.season_year}}</div>

<div class="tui-row">
    <div class="tui-col_md-6">

        <div class="top-players-table-first-label" style="margin-top: 40px;">
                <tui-island class="tui-island-resume island-borders-custom">
                    <div class="color-light-text" style="font-size: larger; text-align: center;">Marcatori</div>
                        <table class="tui-table" style="margin-top: 10px;">
                            <tbody>
                                <tr class="tui-table__tr th-background-custom">
                                    <th class="tui-table__th tui-table__th_first">Pos.</th>
                                    <th class="tui-table__th">Nome</th>
                                    <th class="tui-table__th">Squadra</th>
                                    <th class="tui-table__th tui-table__th_last">Goal</th>
                                </tr>
                                <ng-container *ngFor="let scorer of top_scorers; let i = index">
                                    <tr class="tui-table__tr" style="border-top: 1px solid var(--tui-base-03);" col *ngIf="i == 0">
                                        <td class="tui-table__td tui-table__td_first first-row-top-players-style" style="font-weight: bold; font-size: 15px;">{{i+1}}°</td>
                                        <td class="tui-table__td first-row-top-players-style"><div><img style="width: 35px; height: auto;" [src]="scorer.photo" alt=""><span style="padding-left: 5px; font-size: 15px;">{{scorer.name}}</span></div></td>
                                        <td class="tui-table__td first-row-top-players-style"><div><img style="width: 25px; height: auto;" [src]="teamLogo(teams, scorer.team)" alt=""><span style="padding-left: 5px; font-size: 15px;">{{scorer.team}}</span></div></td>
                                        <td class="tui-table__td tui-table__td_last first-row-top-players-style" style="font-weight: bold;"><div>{{scorer.goals}}</div></td>
                                    </tr>
                                    <tr class="tui-table__tr tui-table__tr_border_none" col *ngIf="i > 0">
                                        <td class="tui-table__td tui-table__td_first" style="font-size: 13px;">{{i == 1 ? 2 : 3}}°</td>
                                        <td class="tui-table__td"><div><img style="width: 30px; height: auto; padding-left: 10px;" [src]="scorer.photo" alt=""><span style="padding-left: 10px; font-size: 12px;">{{scorer.name}}</span></div></td>
                                        <td class="tui-table__td"><div><img style="width: 18px; height: auto;" [src]="teamLogo(teams, scorer.team)" alt=""><span style="padding-left: 10px; font-size: 12px;">{{scorer.team}}</span></div></td>
                                        <td class="tui-table__td tui-table__td_last"><div style="font-size: 13px;">{{scorer.goals}}</div></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                </tui-island>
        </div>
        
        <div class="top-players-table-first-label" style="margin-top: 40px;">
                <tui-island class="tui-island-resume island-borders-custom">
                    <div class="color-light-text" style="font-size: larger; text-align: center;">Assist</div>
                        <table class="tui-table" style="margin-top: 10px;">
                            <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none th-background-custom">
                                    <th class="tui-table__th tui-table__th_first">Pos.</th>
                                    <th class="tui-table__th">Nome</th>
                                    <th class="tui-table__th">Squadra</th>
                                    <th class="tui-table__th tui-table__th_last">Assist</th>
                                </tr>
                                <ng-container *ngFor="let assist of top_assist; let i = index">
                                    <tr class="tui-table__tr" style="border-top: 1px solid var(--tui-base-03);" col *ngIf="i == 0">
                                        <td class="tui-table__td tui-table__td_first first-row-top-players-style" style="font-weight: bold; font-size: 15px;">{{i+1}}°</td>
                                        <td class="tui-table__td first-row-top-players-style"><div><img style="width: 35px; height: auto;" [src]="assist.photo" alt=""><span style="padding-left: 5px; font-size: 15px;">{{assist.name}}</span></div></td>
                                        <td class="tui-table__td first-row-top-players-style"><div><img style="width: 25px; height: auto;" [src]="teamLogo(teams, assist.team)" alt=""><span style="padding-left: 5px; font-size: 15px;">{{assist.team}}</span></div></td>
                                        <td class="tui-table__td tui-table__td_last first-row-top-players-style" style="font-weight: bold;"><div>{{assist.assist}}</div></td>
                                    </tr>
                                    <tr class="tui-table__tr tui-table__tr_border_none" col *ngIf="i > 0">
                                        <td class="tui-table__td tui-table__td_first" style="font-size: 13px;">{{i == 1 ? 2 : 3}}°</td>
                                        <td class="tui-table__td"><div><img style="width: 30px; height: auto; padding-left: 10px;" [src]="assist.photo" alt=""><span style="padding-left: 10px; font-size: 12px;">{{assist.name}}</span></div></td>
                                        <td class="tui-table__td"><div><img style="width: 18px; height: auto;" [src]="teamLogo(teams, assist.team)" alt=""><span style="padding-left: 10px; font-size: 12px;">{{assist.team}}</span></div></td>
                                        <td class="tui-table__td tui-table__td_last"><div style="font-size: 13px;">{{assist.assist}}</div></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                </tui-island>
        </div>

    </div>
    <div class="tui-col_md-6">

        <div class="top-players-table-first-label" style="margin-top: 40px;">
                <tui-island class="tui-island-resume island-borders-custom">
                    <div class="color-light-text" style="font-size: larger; text-align: center;">Migliori in Campo</div>
                        <table class="tui-table" style="margin-top: 10px;">
                            <tbody>
                                <tr class="tui-table__tr tui-table__tr_border_none th-background-custom">
                                    <th class="tui-table__th tui-table__th_first">Pos.</th>
                                    <th class="tui-table__th">Nome</th>
                                    <th class="tui-table__th">Squadra</th>
                                    <th class="tui-table__th tui-table__th_last">MOTM</th>
                                </tr>
                                <ng-container *ngFor="let motm of top_motm; let i = index">
                                    <tr class="tui-table__tr" style="border-top: 1px solid var(--tui-base-03);" col *ngIf="i == 0">
                                        <td class="tui-table__td tui-table__td_first first-row-top-players-style" style="font-weight: bold; font-size: 15px;">{{i+1}}°</td>
                                        <td class="tui-table__td first-row-top-players-style"><div><img style="width: 35px; height: auto;" [src]="motm.photo" alt=""><span style="padding-left: 5px; font-size: 15px;">{{motm.name}}</span></div></td>
                                        <td class="tui-table__td first-row-top-players-style"><div><img style="width: 25px; height: auto;" [src]="teamLogo(teams, motm.team)" alt=""><span style="padding-left: 5px; font-size: 15px;">{{motm.team}}</span></div></td>
                                        <td class="tui-table__td tui-table__td_last first-row-top-players-style" style="font-weight: bold;"><div>{{motm.motm}}</div></td>
                                    </tr>
                                    <tr class="tui-table__tr tui-table__tr_border_none" col *ngIf="i > 0">
                                        <td class="tui-table__td tui-table__td_first" style="font-size: 13px;">{{i == 1 ? 2 : 3}}°</td>
                                        <td class="tui-table__td"><div><img style="width: 30px; height: auto; padding-left: 10px;" [src]="motm.photo" alt=""><span style="padding-left: 10px; font-size: 12px;">{{motm.name}}</span></div></td>
                                        <td class="tui-table__td"><div><img style="width: 18px; height: auto;" [src]="teamLogo(teams, motm.team)" alt=""><span style="padding-left: 10px; font-size: 12px;">{{motm.team}}</span></div></td>
                                        <td class="tui-table__td tui-table__td_last"><div style="font-size: 13px;">{{motm.motm}}</div></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </tui-island>
        </div>

        <div class="top-players-table-first-label" style="margin-top: 40px;">
            <tui-island class="tui-island-resume island-borders-custom" style="height: 226px;">
                <div class="color-light-text" style="font-size: larger; text-align: center;">Pallone D'oro</div>
                    <table class="tui-table" style="margin-top: 10px;">
                        <tbody>
                            <tr class="tui-table__tr tui-table__tr_border_none th-background-custom">
                            </tr>
                            <ng-container>
                                <tr class="tui-table__tr" style="border-top: 1px solid var(--tui-base-03);">
                                    <td class="tui-table__td first-row-top-players-style"><div><img style="width: 140px; height: auto;" [src]=" baloon_dor_photo" alt=""><span style="padding-left: 20px; font-size: 30px; position: absolute; margin-top: 30px;">{{baloon_dor_name}}
                                        <div style="text-align: end; margin-top: 10px;"><img style="width: 20px; height: auto;" [src]="teamLogo(teams, baloon_dor_team)" alt=""><span style="padding-left: 5px; font-size: 15px;">{{baloon_dor_team}}</span></div>
                                    </span>                                    
                                    </div></td>
                                    <td class="tui-table__td first-row-top-players-style">
                                        <div style="text-align: end;">
                                            <img src="../../../../assets/media/250618.png" alt="" style="width: 100px; margin-top: 12px;">
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
            </tui-island>
        </div>

    </div>
</div>