<nav id="navbar-custom" tuiTabBar [(activeItemIndex)]="activeItemIndex" [hidden]="!authService.isLoggedIn()">
    <button tuiTabBarItem [icon]="'tuiIconHomeLarge'" routerLinkActive="" [routerLink]="'home/'">Home</button>
    <div *ngFor="let item of items; let i = index"
        (mouseenter)="handleMouseEnterOnContainer(item, i)" (mouseleave)="hideSubmenu(i)">
        <button tuiTabBarItem [icon]="item.icon" routerLinkActive="" [routerLink]="item.routerLink" [disabled]="item.text == 'Squadre'">
            {{ item.text }}
        </button>
        <div class="submenu-square" style="z-index: 999;" *ngIf="showSubMenu[i] && item.text == 'Squadre'">
            <ul>
                <li *ngFor="let subItem of item.subMenu">
                    <a [routerLink]="subItem.routerLink">
                        <div style="margin-top: 5px">
                            <img style="width: 30px; height: 30px; margin-right: 5px;" [src]="teamLogo(subItem.text)">
                            <span style="margin-left: 5px;">{{ subItem.text }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <button tuiTabBarItem icon="tuiIconLogOutLarge" (click)="logout()">Logout</button>
</nav>