<div style="margin: 50px;">
<div tuiCarouselButtons class="wrapper row" style="width: 40%">
    <button tuiIconButton icon="tuiIconChevronLeftLarge" title="Previous" type="button" class="col-2"
        style="margin-top: 55px;" (click)="carousel.prev()"></button>
    <tui-carousel #carousel class="carousel col-8" style="padding: 0px">
        <tui-island *tuiItem>
            <h2 class="tui-island__title">Monty Python and the Holy Grail</h2>
            <p>
                King Arthur and his Knights of the Round Table embark on a surreal, low-budget search for the Holy
                Grail, encountering many, very silly obstacles.
            </p>
            <div>
            </div>
        </tui-island>
        <tui-island *tuiItem>
        </tui-island>
        <tui-island *tuiItem class="tui-island_text-align_center">
            <h2 class="tui-island__title">Failed to load</h2>
            <p>
                ciao
            </p>
        </tui-island>
    </tui-carousel>
    <button tuiIconButton type="button" icon="tuiIconChevronRightLarge" title="Next" (click)="carousel.next()"
        class="col-2" style="margin-top: 55px;">
    </button>
</div>
</div>