<div class="wrapper row w-30-perc" style="margin: 30px;" *ngIf="topPlayersList.length == 0">
    <tui-carousel>
        <tui-island *tuiItem>
            <tui-loader [overlay]="true">
                <h2 class="tui-island__title">Caricamento dati...</h2>
                <span>
                    <img src="https://i.imgur.com/rLQbuSV.png" style="width: 70px; height: 70px;">
                </span>
            </tui-loader>
        </tui-island>
    </tui-carousel>
</div>

<div class="w-30-perc" style="margin: 30px;" *ngIf="topPlayersList.length != 0">
    <tui-carousel [duration]="3000" [(index)]="index">
        <ng-container *ngFor="let item of topPlayersList">
            <tui-island *tuiItem>
                <span>
                    <h2 style="margin-left: 5px;" class="tui-island__title">{{ item.label }}</h2>
                </span>
                <div style="float: left; margin-top: 10px;" class="v-align-bottom">
                    <img src="{{item.photo}}" style="width: 80px; height: 80px;">
                </div>

                <div style="margin-left: 105px; margin-top: 25px;">
                    <p style="font-weight: bold;">{{!item.name ? '' : item?.name}}</p>
                    <p style="vertical-align: bottom">
                        <tui-badge style="font-size: 20px;" class="badge-top-stats" size="l" status="primary"
                            [value]="item.stat" [hoverable]="true"></tui-badge>
                        <span style="margin-left: 10px;">{{item.subLabel}}</span>
                    </p>
                </div>
                <div style="float: right;">

                </div>
            </tui-island>
        </ng-container>
    </tui-carousel>
    <tui-pagination size="s" class="pagination" [length]="3" [(index)]="index"
        style="margin-top: 10px;"></tui-pagination>
</div>

<div style="margin: 50px; align-items: center;">
    <div tuiCarouselButtons class="wrapper w-30-perc">
        <tui-carousel [duration]="3000" [(index)]="indexStats">
            <tui-island *tuiItem class="txt-center-align">
                <h2 class="tui-island__title">Vittorie</h2>
                <canvas id="winsChart"></canvas>
            </tui-island>
            <tui-island *tuiItem class="txt-center-align">
                <h2 class="tui-island__title">Pareggi</h2>
                <canvas id="drawsChart"></canvas>
            </tui-island>
            <tui-island *tuiItem class="txt-center-align">
                <h2 class="tui-island__title">Sconfitte</h2>
                <canvas id="lossesChart"></canvas>
            </tui-island>
        </tui-carousel>
        <tui-pagination size="s" class="pagination" style="margin-top: 10px;" [length]="3"
            [(index)]="indexStats"></tui-pagination>
    </div>
</div>

<div style="width: 10%; margin-left: 70px;">

    <button style="margin-top: 20px;" [size]="'m'" tuiButton
        (click)="startNewLeague()">Termina Stagione</button>
</div>