<div>
    <div class="tui-row"style="margin-left: 50px; margin-top: 30px; width: 95%;">
        <div class="tui-col_md-9" style="display: flex; padding-left: 0; padding-right: 0;">
            <tui-input tuiTextfield tuiTextfieldSize="m" [tuiTextfieldCleaner]="true" class="tui-space_horizontal-3 w-15-perc" [formControl]="nameSearch" style="margin-left: 0;"
                (keyup.enter)="FilterPlayers(nameSearch.value, positionSearch.value, teamSearch.value)">Nome</tui-input>
            <tui-select tuiTextfieldSize="m" [tuiTextfieldCleaner]="true" class="tui-space_horizontal-3 w-15-perc"
                [formControl]="positionSearch" (click)="getDropDown('roles')" (clean)="getDropDown('teams')">
                <tui-data-list-wrapper *tuiDataList [items]="itemsRoles"></tui-data-list-wrapper>Ruolo</tui-select>
            <tui-select tuiTextfieldSize="m" [tuiTextfieldCleaner]="true" class="tui-space_horizontal-3 w-15-perc"
                [formControl]="teamSearch" (click)="getDropDown('teams')">
                <tui-data-list-wrapper *tuiDataList [items]="itemsTeams"></tui-data-list-wrapper>Squadra</tui-select>
            <button tuiButton [size]="'m'" class="tui-space_horizontal-3" (click)="FilterPlayers(nameSearch.value, positionSearch.value, teamSearch.value)">
                <fa-icon style="margin-right: 10px;" [icon]="faMagnifyingGlass"></fa-icon>Cerca
            </button>
        </div>
        <div class="tui-col_md-3" style="padding-right: 0; padding-left: 0;">
            <button tuiButton [size]="'m'" class="save-button" (click)="onClick(insert_player, header, 'l')" style="float: right;">
                <fa-icon style="margin-right: 10px;" [icon]="faPlus"></fa-icon>Inserisci Calciatore
            </button>
        </div>
    </div>
</div>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
    <table *ngIf="data$ | async as data" tuiTable class="table"
        style="margin-left: 50px; margin-top: 15px; width: 95%; font-size: 15px;" [columns]="columns"
        [direction]="(direction$ | async) || 1" [tuiSortBy]="sorter$ | async" (directionChange)="onDirection()"
        (tuiSortByChange)="onSortByChange($event)">
        <thead>
            <tr tuiThGroup>
                <th *tuiHead="'name'" tuiTh tuiSortable class="th-custom-size-players" [resizable]="true">
                    <span style="margin-left: 20px;">
                        <fa-icon style="margin-right: 12px; font-size: 20px;" [icon]="faUser"></fa-icon>
                        Nome
                    </span>
                </th>
                <th *tuiHead="'overall'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faStar"></fa-icon>
                    Tot.
                </th>
                <th *tuiHead="'position'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faIdCard"></fa-icon>
                    Ruolo
                </th>
                <th *tuiHead="'team'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faShieldHalved"></fa-icon>
                    Squadra
                </th>
                <th *tuiHead="'goals'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faFutbol"></fa-icon>
                    Goal
                </th>
                <th *tuiHead="'assist'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faPersonRunning"></fa-icon>
                    Assist
                </th>
                <th *tuiHead="'motm'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faMedal"></fa-icon>
                    Motm
                </th>
                <th *tuiHead="'yellow_card'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    Cart. Gialli
                </th>
                <th *tuiHead="'red_card'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    Cart. Rossi
                </th>
                <th *tuiHead="'actions'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    Azioni
                </th>
            </tr>
        </thead>
        <tbody *tuiLet="data | tuiTableSort as sortedData" tuiTbody [data]="sortedData">
            <tr *ngFor="let item of sortedData" tuiTr>
                <td *tuiCell="'name'" tuiTd class="v-align-bottom" [class.match]="isMatch('name')">
                    <span><img style="width: 35px; height: 35px; margin-right: 10px; margin-left: 10px;"
                            src="{{item.photo}}">{{ item.name }}</span>
                </td>
                <td *tuiCell="'overall'" style="font-weight: bold;" tuiTd class="v-align-middle txt-center-align"
                [class.match]="isMatch('overall')">
                <span>{{ item.overall }}</span>
            </td>
                <td *tuiCell="'position'" style="font-weight: bold;" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('position')">
                    <span>{{ item.position }}</span>
                </td>
                <td *tuiCell="'team'" tuiTd class="v-align-middle" [class.match]="isMatch('team')">
                    <span><img style="width: 22px; height: 22px; margin-right: 10px; margin-left: 10px;"
                            src="{{teamLogo(item.team)}}"> {{ item.team }}</span>
                </td>
                <td *tuiCell="'goals'" tuiTd class="v-align-middle txt-center-align" [class.match]="isMatch('goals')">
                    <span>{{ item.goals }}</span>
                </td>
                <td *tuiCell="'assist'" tuiTd class="v-align-middle txt-center-align" [class.match]="isMatch('assist')">
                    <span>{{ item.assist }}</span>
                </td>
                <td *tuiCell="'motm'" tuiTd class="v-align-middle txt-center-align" [class.match]="isMatch('motm')">
                    <span>{{ item.motm }}</span>
                </td>
                <td *tuiCell="'yellow_card'" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('yellow_card')">
                    <span>{{ item.yellow_card }}</span>
                </td>
                <td *tuiCell="'red_card'" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('red_card')">
                    <span>{{ item.red_card }}</span>
                </td>
                <td *tuiCell="'actions'" tuiTd class="v-align-middle txt-center-align">
                    <span style="margin-right: 30px;">
                        <a (click)="assignPlayer(item, edit_player, header, 'l')"><fa-icon style="font-size: 20px; cursor: pointer;" [icon]="faPenToSquare"></fa-icon></a>
                    </span>
                    <span>
                        <a (click)="assignPlayer(item, delete_player, header, 's')"><fa-icon style="font-size: 20px; color: red; cursor: pointer;" [icon]="faTrashCan"></fa-icon></a>
                    </span>
                </td>
            </tr>
            <tr *ngIf="sortedData.length == 0">
                <td class="v-align-bottom" style="padding-top: 10px; padding-bottom: 5px">Nessun record trovato</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td [colSpan]="columns.length">
                    <tui-table-pagination class="tui-space_top-2" [total]="(total$ | async) || 0"
                        (pageChange)="onPage($event)" (sizeChange)="onSize($event)"></tui-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</tui-loader>


<ng-template #edit_player let-observer>
    <app-edit-player [playerId]="selectedPlayerId" [observer]="observer" [filteredValue]="[nameSearch.value, positionSearch.value, teamSearch.value]"></app-edit-player>
</ng-template>

<ng-template #header>
    <div class="header-player-dialog">
    </div>
</ng-template>

<ng-template #insert_player let-observer>
    <app-insert-player [observer]="observer" [filteredValue]="[nameSearch.value, positionSearch.value, teamSearch.value]"></app-insert-player>
</ng-template>

<ng-template #delete_player let-observer>
    <div style="text-align: left;">
        <span>Confermi la rimozione del Calciatore: </span>
    </div>
    <div class="tui-row">
        <div class="tui-col-1">
            <img [src]="selectedPlayer.photo" style="width: 70px; height: auto; margin-top: 20px; margin-left: 20px; float: left;">
        </div>
        <div class="tui-col-11" style="font-size: 15px; text-align: left; margin-top: auto; margin-left: 5px;">
            <div style="margin-bottom: 10px;">Nome: {{selectedPlayer.name}}</div>
            <div><span >Ruolo: {{selectedPlayer.position}}</span><span style="float: right;">Totale: {{selectedPlayer.overall}}</span></div>
        </div>
    </div>
    <div style="float: right; margin-top: 30px;">
        <button tuiButton [size]="'s'" class="ucl-button-bg tui-space_horizontal-2" (click)="close(observer)">Annulla</button>
        <button tuiButton [size]="'s'" class="delete-button" (click)="delete(observer, [nameSearch.value, positionSearch.value, teamSearch.value])">Rimuovi</button>
    </div>
</ng-template>