<br>
<div>

    <div style="min-height: 200px;">
        <div class="tui-row" style="justify-content: space-between;">
            <div class="tui-col_md-5">
                <p class="tui-text_h6" style="margin-top: 18px; font-size: 17px;">Calciatore da trasferire</p>
                <div class="elevated-player-container">
                    <div class="single-trade-info-container">
                        <img class="image-single-trade" src="{{player.photo}}">
                        <div class="text-single-trade-container">
                            <span class="name-single-trade">{{ player.name }}</span>
                            <span class="additional-text">Valore: {{ player.player_value | tuiFormatNumber:
                                {thousandSeparator:'.', decimalSeparator: ','} }}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tui-col_md-auto" style="margin-top: 105px; font-size: 30px; color: #ababab;">
                <fa-icon [icon]="faRightLong"></fa-icon>
            </div>
            <div class="tui-col_md-5">
                <p class="tui-text_h6" style="margin-top: 18px; font-size: 17px;">Acquirente</p>
                <div>
                    <tui-select #teamSelect style="margin-top: 23px;" [formControl]="selectTeam"
                        (ngModelChange)="checkBuyerTeam(teamSelect.value); filterPlayers(teamSelect.value, true); loadDataBasedOnTeamName(teamSelect.value);"
                        tuiTextfieldSize="m">
                        Squadra
                        <input placeholder="Seleziona la squadra acquirente" tuiTextfield />
                        <tui-data-list-wrapper *tuiDataList [items]="itemsTeams"></tui-data-list-wrapper>
                    </tui-select>

                    <tui-input-number #sellValue tuiTextfieldSize="m" [formControl]="transferValueInput"
                        class="input-trade-single-player">Somma</tui-input-number>
                </div>
            </div>
            <div class="tui-col_md-1 set-trade-vaue-to-zero"
                [ngClass]="disableElement ? 'disabled-element' : 'enable-click'">
                <a (click)="setTradeValueToZero()" tuiHintDirection="right" tuiHint="Imposta il valore a 0">
                    <fa-icon [icon]="faCircleXmark" style="color: red;"></fa-icon>
                </a>
            </div>
        </div>

        <div class="tui-row">
            <div class="tui-col_md-7">
                <div class="add-players-to-trade-toggle">
                    <span style="margin-right: 10px; vertical-align: sub;">Inserisci altri Calciatori nel trasferimento
                    </span>
                    <tui-toggle [formControl]="multitrade" size="l"></tui-toggle>
                </div>
            </div>
            <div class="tui-col_md-5"></div>
        </div>

        <div *ngIf="multitrade.value">
            <div class="tui-row tui-space_top-6">
                <div class="tui-col_md-6">
                    <span style="width: auto">
                        <img [src]="selectedTeam.team_logo" style="width: 25px; height: auto; margin-right: 10px;">
                        {{selectedTeam.team_name}}<p style="font-size: 22px;"></p>
                    </span>
                    <tui-multi-select [editable]="false" [formControl]="additionalPlayers" class="tui-space_top-2"
                        [expandable]="true" [identityMatcher]="identityMatcher" [stringify]="stringify"
                        [tuiTextfieldCleaner]="true">
                        Selezionare i Calciatori
                        <tui-data-list-wrapper *tuiDataList tuiMultiSelectGroup [itemContent]="selectedTeamPlayersList"
                            [items]="selectedTeamPlayers"></tui-data-list-wrapper>
                        <ng-template #selectedTeamPlayersList let-data>
                            <div class="template">
                                <tui-avatar size="m" class="avatar" [avatarUrl]="data.photo" [text]="data.toString()">
                                </tui-avatar>
                                <span class="player-name-trade-list">{{ data.name }}</span>
                                <tui-badge [value]="data.position"></tui-badge>
                            </div>
                        </ng-template>
                    </tui-multi-select>
                </div>
                <div class="tui-col_md-6">
                    <span>
                        <img [src]="buyerTeamLogo" style="width: 25px; height: auto; margin-right: 10px;">
                        {{teamSelect.value}}<p style="font-size: 22px;"></p>
                    </span>
                    <tui-multi-select [editable]="false" [formControl]="additionalBuyerPlayers" class="tui-space_top-2"
                        [identityMatcher]="identityMatcher" [expandable]="true" [stringify]="stringify"
                        [tuiTextfieldCleaner]="true">
                        Selezionare i Calciatori
                        <tui-data-list-wrapper *tuiDataList tuiMultiSelectGroup [itemContent]="buyerTeamPlayersList"
                            [items]="playersBuyerTeam"></tui-data-list-wrapper>
                        <ng-template #buyerTeamPlayersList let-data>
                            <div class="template">
                                <tui-avatar size="m" class="avatar" [avatarUrl]="data.photo" [text]="data.toString()">
                                </tui-avatar>
                                <span class="player-name-trade-list">{{ data.name }}</span>
                                <tui-badge [value]="data.position"></tui-badge>
                            </div>
                        </ng-template>
                    </tui-multi-select>
                </div>

            </div>
        </div>

        <div style="float: right; margin-top: 50px;">
            <button tuiButton [size]="'l'" class="save-button" (click)="confirmTransfer()">Conferma Trasferimento</button>
        </div>

    </div>

</div>