<div style="margin-bottom: 50px; display: flex; justify-content: center;">
    <tui-stepper [activeItemIndex]="indexStats">
        <button id="step-one" [stepState]="playedCount == totalCount ? 'pass' : 'error'" tuiStep (click)="indexStats = 0" [ngClass]="playedCount == totalCount ? 'passed-color' : 'error-color-ng'">
            Calendario
        </button>
        <button id="step-two" [stepState]="salariesCheck && playedCount == totalCount ? 'pass' : 'normal'" [disabled]="playedCount != totalCount" tuiStep (click)="indexStats = 1" [ngClass]="salariesCheck ? 'passed-color' : 'error-color-ng'">
            Stipendi
        </button>
        <button id="step-three" stepState="normal" class="normal-color" tuiStep (click)="indexStats = 2" [disabled]="playedCount != totalCount || !salariesCheck">
            Riepilogo stagione
        </button>
    </tui-stepper>
</div>

<div style="margin: 50px; text-align: center; display: ruby-base;">
    <span tuiCarouselButtons class="wrapper w-30-perc">
        <div class="tui-row">
            <div class="tui-col_md-1">
                <button icon="tuiIconChevronLeftLarge" title="Previous" tuiIconButton type="button" (click)="carousel.prev()" style="margin-top: 140px;"></button>
            </div>
            <div class="tui-col_md-10">
                <tui-carousel #carousel [(index)]="indexStats">
                    <h2 class="tui-island__title">Resoconto Calendario</h2>
                    <tui-island *tuiItem class="txt-center-align">
                        <div>
                            <p>Incontri giocati: {{playedCount}}/{{totalCount}}</p>
                        </div>
                    </tui-island>
                    <tui-island *tuiItem class="txt-center-align">
                        <h2 class="tui-island__title">Resoconto Stipendi</h2>
                        <table class="tui-table" style="margin-top: 10px;">
                            <tbody>
                                <tr class="tui-table__tr">
                                    <th class="tui-table__th">Squadra</th>
                                    <th class="tui-table__th" style="text-align: right;">Stipendi</th>
                                    <th class="tui-table__th" style="text-align: center;"><span>Stato</span></th>
                                </tr>
                                <ng-container *ngFor="let team of leagueTeams; let i = index">
                                    <tr class="tui-table__tr" [ngClass]="team.paid_salaries == 'no' ? 'err-background' : ''">
                                        <td class="tui-table__td" style="vertical-align: middle;">
                                            <span><img style="width: 30px; height: 30px;" [src]="team.team_logo"></span><span style="margin-left: 20px;">{{team.team_name}}</span>
                                        </td>
                                        <td class="tui-table__td" style="text-align: right; vertical-align: middle;">{{team.salary | tuiFormatNumber: {thousandSeparator:'.', decimalSeparator: ','} }}</td>
                                        <td class="tui-table__td" style="text-align: center;">
                                            <span>
                                                <tui-marker-icon [mode]="team.paid_salaries == 'yes' ? 'success' : 'error'" new size="s" [src]="team.paid_salaries == 'yes' ? 'tuiIconCheckLarge' : 'tuiIconXLarge'" class="tui-space_right-2"></tui-marker-icon>
                                            </span>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </tui-island>
                    <tui-island *tuiItem class="review-season-island">
                        <h2 class="tui-island__title" style="text-align: center;">Resoconto Stagione</h2>

                        <div *ngIf="leagueWinner && ballonDor" class="tui-row" style="margin-top: 50px;">
                            <div class="tui-col_md-4">
                                <button tuiAction type="button" class="action tui-space_vertical-4" style="width: 90%;">
                                    <section>
                                        <p class="description tui-text_body-m">Vincitore Campionato</p>
                                            <h6 class="header tui-text_h6" style="margin-top: 35px;">{{leagueWinner.team}}</h6>
                                    </section>
                                    <tui-avatar size="l" [avatarUrl]="leagueWinner.team_logo" class="tui-island__marker icon" style="margin-top: auto;"></tui-avatar>
                                </button>
                            </div>
                            <div class="tui-col_md-4" *ngIf="uclWinner">
                                <button tuiAction type="button" class="action tui-space_vertical-4" style="width: 90%">
                                    <section>
                                        <p class="description tui-text_body-m">Vincitore UCL</p>
                                            <h6 class="header tui-text_h6" style="margin-top: 35px;">{{uclWinner.team_name}}</h6>
                                    </section>
                                    <tui-avatar *ngIf="uclWinner.team_logo" size="l" [avatarUrl]="uclWinner.team_logo" class="tui-island__marker icon" style="margin-top: auto;"></tui-avatar>
                                </button>
                            </div>
                            <div class="tui-col_md-4">
                                <button tuiAction type="button" class="action tui-space_vertical-4" style="width: 90%">
                                    <section>
                                        <p class="description tui-text_body-m">Pallone D'oro</p>
                                            <h6 class="header tui-text_h6" style="margin-top: 35px;">{{formatPlayerName(ballonDor.name)}}</h6>
                                    </section>
                                    <tui-avatar size="l" [avatarUrl]="ballonDor.photo" class="tui-island__marker icon" style="margin-top: auto;"></tui-avatar>
                                </button> 
                            </div>
                        </div>
                        <div *ngIf="topScorer && topAssist && topMotm" class="tui-row">
                            <div class="tui-col_md-4">
                                <button tuiAction type="button" class="action tui-space_vertical-4" style="width: 90%">
                                    <section>
                                        <p class="description tui-text_body-m">Miglior Marcatore</p>
                                            <h6 class="header tui-text_h6" style="margin-top: 35px;">{{formatPlayerName(topScorer.name)}}</h6>
                                    </section>
                                    <tui-avatar size="l" [avatarUrl]="topScorer.photo" class="tui-island__marker icon" style="margin-top: auto;"></tui-avatar>
                                </button>
                            </div>
                            <div class="tui-col_md-4">
                                <button tuiAction type="button" class="action tui-space_vertical-4" style="width: 90%">
                                    <section>
                                        <p class="description tui-text_body-m">Miglior Assistman</p>
                                            <h6 class="header tui-text_h6" style="margin-top: 35px;">{{formatPlayerName(topAssist.name)}}</h6>
                                    </section>
                                    <tui-avatar size="l" [avatarUrl]="topAssist.photo" class="tui-island__marker icon" style="margin-top: auto;"></tui-avatar>
                                </button>
                            </div>
                            <div class="tui-col_md-4">
                                <button tuiAction type="button" class="action tui-space_vertical-4" style="width: 90%">
                                    <section>
                                        <p class="description tui-text_body-m">Motm</p>
                                            <h6 class="header tui-text_h6" style="margin-top: 35px;">{{formatPlayerName(topMotm.name)}}</h6>
                                    </section>
                                    <tui-avatar size="l" [avatarUrl]="topMotm.photo" class="tui-island__marker icon" style="margin-top: auto;"></tui-avatar>
                                </button>
                            </div>
                        </div>
                        <button tuiButton [size]="'l'" (click)="openConfirmModal(confirmModal, undefined, 's')" class="save-button" style="float: right; color: #fff; margin-top: 20px;">Termina Stagione</button>                    
                    </tui-island>
                </tui-carousel>
            </div>
            <div class="tui-col_md-1">
                <button icon="tuiIconChevronRightLarge" title="Next" tuiIconButton type="button" (click)="carousel.next()" style="margin-top: 140px;" [disabled]="checkMoveToStepStatus(indexStats)"></button>
            </div>
            <ng-template #confirmModal let-confirmObserver>
                    <div *ngIf="!load">
                        <p>vuoi confermare?</p>
                        <button tuiButton (click)="startNewLeague(confirmObserver)">Conferma</button>
                    </div>
                    <div *ngIf="load" style="text-align: center;">
                        <p>Inizio Nuova Stagione in corso</p>
                        <progress max="100" tuiProgressBar></progress>
                    </div>
            </ng-template>
        </div>

    </span>
</div>