/* You can add global styles to this file, and also import other style files */
@import "@taiga-ui/core/styles/taiga-ui-theme.less";
@import "@taiga-ui/core/styles/taiga-ui-fonts.less";
@import "@taiga-ui/styles/taiga-ui-global.less";

@import "@taiga-ui/core/styles/taiga-ui-local.less";
@import "@taiga-ui/styles/basic/keyframes.less";
@import "@taiga-ui/styles/basic/main.less";
@import "@taiga-ui/styles/markup/tui-container.less";
@import "@taiga-ui/styles/markup/tui-form.less";
@import "@taiga-ui/styles/markup/tui-island.less";
@import "@taiga-ui/styles/markup/tui-list.less";
@import "@taiga-ui/styles/markup/tui-mobile-only.less";
@import "@taiga-ui/styles/markup/tui-required.less";
@import "@taiga-ui/styles/markup/tui-row.less";
@import "@taiga-ui/styles/markup/tui-skeleton.less";
@import "@taiga-ui/styles/markup/tui-space.less";
@import "@taiga-ui/styles/markup/tui-table.less";
@import "@taiga-ui/styles/markup/tui-text.less";
@import "@taiga-ui/core/styles/taiga-ui-local.less";

.navbar {
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
  padding: 5px 16px;
  padding: 30px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.title-nav {
  color: #fff;
  text-decoration: none;
}

.nav-icon {
  color: #fff !important;
}

nav {
  color: #fff !important;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
  backdrop-filter: none var(--tui-disabled-opacity) !important;
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 12px;
}

#navbar-custom {
  display: flex;
  justify-content: space-between;
}

#navbar-custom > div {
  flex: 1;
  display: flex;
}

.div-container {
  justify-content: center;
  align-items: center;
}

.button-height {
  overflow: visible;
  height: calc(100% + 55px);
  position: relative;
}

:host ::ng-deep tui-tab-bar ._nghost-pfb-c27 {
  color: black !important;
  opacity: unset !important;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 10px;
  display: none;
}

button:hover .submenu {
  display: block;
}

.submenu-square {
  margin-top: 60px;
  margin-left: 30px;
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #dee0e4;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  transition: 0.3s ease;
  min-height: 168px;
}

.disabled-click {
  cursor: default;
}

.enable-click {
  cursor: pointer;
}

.enable-click-a-element {
  cursor: pointer;
  text-decoration: none; /* Removes the underline from the links */
  color: black; /* Sets the text color to black or any color you desire */
}

.disabled-element {
  pointer-events: none;
  opacity: 0.5;
}

div.submenu-square a {
  color: #333;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  font-weight: 300;
  height: 56px;
}

div.submenu-square a:hover {
  background-color: #e4e8ed;
}

.action {
  flex: 1;
  align-items: center;

  &:first-child {
    --tui-action-color: var(--tui-positive);
    --tui-action-background: var(--tui-success-bg);
  }

  &:last-child {
    --tui-action-color: var(--tui-negative);
    --tui-action-background: var(--tui-error-bg);
  }
}

.badge-top-stats {
  .gradient(rgba(0, 0, 75, 1) 0%,
  rgba(48, 66, 198, 0.846673703661152) 100%);
}

.error-color {
  color: rgb(209, 32, 32);
}

.success-color {
  color: var(--tui-success-fill);
}

.matchday {
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(236, 236, 236, 1) 20%,
    rgba(217, 217, 217, 1) 40%,
    rgba(217, 217, 217, 1) 60%,
    rgba(236, 236, 236, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  font-size: 15px;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 1px;
  padding: 5px;
  padding-top: 10px;
  margin-left: 5px !important;
  margin-top: 10px !important;
}

.logo-match-style {
  width: 80px !important;
  height: 80px !important;
}

fieldset.t-item[_ngcontent-vmu-c17] {
  padding: 0px !important;
}

.template {
  display: flex;
  align-items: center;
}

.centered-input-content div.t-input.t-input_template.ng-star-inserted {
  margin-top: 10px;
  padding: 10px;
}

.avatar {
  width: 10px;
  height: 10px;
}

.player-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 150px;
}

.player-name-motm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  width: 180px;
  font-size: 12px;
}

.player-name-trade-list {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  width: 180px;
  font-size: 14px;
}

#tuitui .t-tag {
  background-color: var(--tui-support-04);
  padding-left: 25px;
  padding-right: 25px;
}

#tuituiAssist .t-tag {
  background-color: var(--tui-support-08);
}

#tuituiYellowCard .t-tag {
  background-color: var(--tui-warning-fill);
}

#tuituiRedCard .t-tag {
  background-color: var(--tui-error-fill);
}

.badge-position {
  margin-left: 55px;
}

.badge-position-motm {
  background-color: var(--tui-support-04);
}

.multiselect-label .t-text.ng-star-inserted {
  margin-left: 15px;
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
}

.t-tag .t-text {
  width: 300px !important;
}

#matchTab {
  width: 83%;
  position: fixed;
  left: 142px;
}

tui-multi-select div.tui-autofill {
  padding-top: 0px !important;
  height: 55px !important;
}

tui-combo-box .t-input {
  top: -10px !important;
}

tui-combo-box.captain-box .t-input {
  top: unset !important;
}

tui-combo-box.transfer-combo-box .t-input {
  top: -5px !important;
  left: 2px;
}

#resume-input {
  padding: 0px !important;
  position: absolute;
  left: 15px;
}

.resume-row {
  width: 85%;
  position: fixed;
  margin-top: 100px;
  left: 143px;
}

.tui-island-resume {
  width: 95% !important;
  max-height: 400px;
}

.tag-container {
  margin-top: 5px;
  max-height: 255px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.save-button .t-wrapper {
  background-color: #34b41f !important;
}

.save-button:hover .t-wrapper:hover {
  background-color: #1c810c !important;
}

.delete-button .t-wrapper {
  background-color: #c71818 !important;
}

.back-button-bg .t-wrapper {
  background-color: #a09f9f !important;
}

.ucl-button-bg .t-wrapper {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
}

.goals-count {
  text-align: center !important;
}

input .t-input.ng-untouched.ng-pristine.ng-valid {
  padding-top: 0;
}

.scrollable-container {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

.custom-multi-select {
  max-height: 400px;
  max-width: 345px;
  overflow-y: auto;
}

.custom-multi-select div.t-tag {
  display: none;
}

.button-fixture {
  width: 100%;
  height: 100px;
  float: left;
  margin: 2px;
}

.img-size-s {
  width: 22px;
  height: 22px;
}

.img-size-m {
  width: 30px;
  height: 30px;
}

.img-size-l {
  width: 30px;
  height: 30px;
}

aside div.t-wrapper {
  width: 80rem !important;
  height: 65% !important;
  margin-top: 45px !important;
  border-radius: 20px;
}

aside {
  justify-content: center !important;
  align-items: middle !important;
}

aside:before {
  background: rgb(0 0 0 / 72%) !important;
}

.close-custom {
  float: right;
  right: 15px;
  top: -350px;
  font-size: 24px;
}

.close-custom div.t-wrapper {
  width: 100% !important;
  height: 100% !important;
}

.h-40 {
  height: 40px !important;
}

.w-15-perc {
  width: 15% !important;
}

.w-20 {
  width: 20px !important;
}

.w-30-perc {
  width: 30% !important;
}

.w-40 {
  width: 40px !important;
}

.w-50 {
  width: 50px !important;
}

.w-60-perc {
  width: 60% !important;
}

.w-100 {
  width: 100px !important;
}

.ftsz-20 {
  font-size: 20px !important;
}

.ftsz-25 {
  font-size: 25px !important;
}

.ftsz-30 {
  font-size: 30px !important;
}

.ftsz-15 {
  font-size: 15px !important;
}

.ftsz-15-b {
  font-size: 18px !important;
  font-weight: bold !important;
}

.font-b {
  font-weight: bold !important;
}

.v-align-middle {
  vertical-align: middle !important;
}

.v-align-bottom {
  vertical-align: bottom !important;
}

.txt-center-align {
  text-align: center !important;
}

.custom-disabled {
  opacity: 0.5 !important;
}

.table > :not(caption) > * > * {
  padding: 0;
}

.positive-gd-status {
  color: var(--tui-positive);
}

.neutral-gd-status {
  color: var(--tui-support-12);
}

.negative-gd-status {
  color: var(--tui-negative);
}

.th-custom-size-players {
  padding-bottom: 6px !important;
}

.header-player-dialog {
  display: flex;
  width: 100%;
  height: 3rem;
  text-align: initial;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
}

.match-status-info {
  position: absolute;
  right: 0;
}

.exclamation-info-home {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.notation-name {
  display: inline-block;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  vertical-align: middle;
}

.team-action-container {
  margin-top: 20px;
  font-size: 25px;
  display: inline-flex;
  justify-content: end;
}

.team-logo-small-detail {
  width: 85px;
  height: 85px;
  margin-top: 8px;
}

.scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

//dialog-trophy-style

.content {
  display: flex;
  align-items: center;
  vertical-align: bottom;
}

.label {
  font: var(--tui-font-text-s);
  color: var(--tui-text-03);
}

.text {
  font: var(--tui-font-text-s);
  margin-top: @space;
  color: var(--tui-text-02);
}

.inner {
  margin: 1rem 0;
  white-space: normal;

  &_flex {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 15rem;
  }
}

.checkbox-first-margin {
  margin-right: 20px;
  vertical-align: middle;
}

img.tui-space_right-3 {
  margin-right: 12px;
  width: 30px;
  height: 30px;
}

.custom-select.content {
  display: flex;
  align-items: center;
}

.custom-select.label {
  margin-left: 8px;
}

.prizes-badge {
  right: -30px;
}

.prizes-badge-ucl {
  margin-left: 18px;
}

.gold {
  background: linear-gradient(145deg, #ffd700, #d4af37);
}

.silver {
  background: linear-gradient(145deg, #dedede, #a8a9ad);
}

.bronze {
  background: linear-gradient(145deg, #f9b168, #a77044);
}

.scorers-badge {
  background: #34b41f !important;
}

.assist-badge {
  background: #ff8a00 !important;
}

.ucl {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
}

.labeled-checkbox-custom [tuiWrapper][data-appearance="primary"] {
  background: #50cc46;
  --tui-primary-hover: #3c9535;
}

.award-select .t-cleaner {
  margin-top: 20px !important;
}

.labeled-checkbox-custom .t-content {
  margin-top: 3px !important;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 10px 0;
}

.separator-text {
  padding: 0 20px;
  position: relative;
  z-index: 1;
  background: #fff;
  font-size: 12px;
}

.separator-line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-top: 1px solid #000;
  width: 100%;
}

.separator-text::before,
.separator-text::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #000;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.separator-text::before {
  left: 0;
  margin-left: -50%;
}

.separator-text::after {
  right: 0;
  margin-right: -50%;
}

.custom-expand span.t-title {
  font-size: 13px !important;
}

.file-info-over {
  width: 85%;
  position: absolute;
  z-index: 52;
  top: -4px;
}

.file-info-over tui-file {
  border: 0;
  background: transparent;
}

.t-remove {
  opacity: 1 !important;
}

tui-file.file-custom-img .t-content {
  position: absolute !important;
  margin-left: -3% !important;
}

tui-file.file-custom-img div.t-size {
  display: none !important;
}

.tui-avatar-custom-delete {
  margin-top: 30px !important;
  height: 60px !important;
  width: 60px !important;
  font-size: 25px !important;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
  --tui-avatar-color: #fff;
}

.add-players-to-trade-toggle {
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  font-size: 12px;
}

.combo-box-container {
  display: flex;
  align-items: flex-start;
}

.single-trade-info-container {
  display: flex;
  align-items: flex-start; /* Allinea gli elementi in alto */
}

.image-single-trade {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-left: -2px;
  margin-top: 9px;
}

.name-single-trade {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  /* Assicurati che il nome non spinga la nuova scritta troppo in basso */
}

.text-single-trade-container {
  display: flex;
  flex-direction: column; /* Organizza i testi in colonna */
  justify-content: space-between; /* Distribuisce lo spazio verticalmente */
  height: 65px; /* Altezza fissa per allinearsi con l'immagine */
}

.additional-text {
  margin-top: 77px;
  font-size: 16px;
  position: absolute;
}

.set-trade-vaue-to-zero {
  position: absolute;
  right: -3px;
  font-size: 23px;
  margin-top: 140px;
  padding-left: 0 !important;
}

.elevated-player-container {
  background-color: white;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 2px;
  padding-bottom: 0px !important;
  max-width: 300px;
  font-family: "Arial", sans-serif;
  color: #333;
  font-size: 18px;
  box-sizing: border-box;
  margin-top: 20px;
}

.input-trade-single-player {
  max-width: 300px;
  margin-top: 20px;
}

/* Stilizzazione del trigger del color picker */
.color-picker-trigger {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc; /* Bordo leggero per il contenitore */
  padding: 2px; /* Spazio intorno al contenitore */
  border-radius: 20px; /* Bordo arrotondato per il contenitore */
  width: fit-content;
  margin: 5px;
  margin-top: 20px;
}

/* Stilizzazione dell'elemento che mostra il colore selezionato */
.color-display {
  width: 20px;
  height: 20px;
  border: 1px solid #0000003d; /* Bordo leggero per la visualizzazione del colore */
  border-radius: 20px; /* Bordo arrotondato per la visualizzazione del colore */
}

.cap-name {
  margin-top: 10px;
}

div.twitter-picker {
  width: 235px !important;
}

.swatch {
  border: 1px solid #00000038;
  border-radius: 5px;
}

.edit-team-img-loader {
  width: 25% !important;
  height: 140px !important;
  position: relative !important;
  margin-left: inherit !important;
}

.edit-team-logo-style {
  max-width: 60%;
  height: auto;
  margin-top: 40px;
  margin-left: 50px;
}

//History style

.operation-header {
  font: var(--tui-font-text-l);
  display: flex;
  align-items: center;
}

.operation-date {
  font: var(--tui-font-text-xl);
  text-align: center;
}

.operation-date,
.operation-info {
  color: var(--tui-text-02);
}

.operation-month,
.operation-status {
  font: var(--tui-font-text-s);
}

.operation-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 1.5rem;
  background: var(--tui-secondary-active);
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  color: var(--tui-text-03);
}

.operation-title {
  .text-overflow();
  margin-right: 1.5rem;
  margin-left: 20px;
}

.operation-info {
  text-align: right;
}

.operation-status {
  &_success {
    color: var(--tui-success-fill);
  }

  &_error {
    color: var(--tui-error-fill);
  }
}

.zoom-on-hover:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  color: #000;
}

tui-accordion.custom-accordion-no-click .t-header_hoverable {
  cursor: default;
}

.no-padding-h {
  padding-left: 0px;
  padding-right: 0px;
}

/* Nel tuo file CSS */
.no-bullets {
  list-style-type: none; /* Rimuove i punti */
}

div.scorers-table div.t-content {
  padding: 0rem !important;
  padding-left: 0.7rem !important;
  padding-right: 0.7rem !important;
}

.top-players-table-first-label {
  font-size: 12px;
  padding: 0;
  vertical-align: bottom;
}

.tui-table__td {
  height: 2.5rem;
}

.first-row-top-players-style {
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
}

.last-table-row-style {
  border-bottom: 1px solid var(--tui-base-03);
}

.color-light-text {
  color: var(--tui-text-02);
}

.th-background-custom {
  border-top: 1px solid var(--tui-base-03);
  background-color: #f6f6f6;
}

.pd-40 {
  padding: 40px;
}

.island-borders-custom {
  border: 1px solid #04040430;
}

.history-pagination div.t-content {
  padding-top: 15px;
}

.container-history {
  min-height: 500px;
}

.container-history-load {
  min-height: 530px;
}

.passed-color tui-svg.t-marker {
  background: var(--tui-support-04) !important;
  color: #fff;
}

button .passed-color ._active .t-marker_index {
  background: var(--tui-support-04) !important;
  color: #fff;
}

.error-color-ng .t-marker_index {
  background: var(--tui-error-fill) !important;
  color: #fff !important;
}

.err-background {
  background: var(--tui-error-bg) !important;
}

.passed-color div.t-marker.t-marker_index {
  background: var(--tui-support-04) !important;
  color: #fff;
}

//List custom for season review

.review-season-island {
  .action {
    max-width: 25rem;
    align-items: center;
  }

  .icon {
    color: var(--tui-support-10);
  }

  .header,
  .description {
    margin: 0;
  }

  .header {
    font-weight: bold;
  }

  .description {
    color: var(--tui-text-02);
  }
}

.truncated-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.save-button [tuiWrapper] {
  color: #fff !important;
}

.transactions-table {
  td,
  th {
    white-space: nowrap;
    border-color: transparent;
    border-right-color: var(--tui-base-04);
    text-align: center;

    &:last-child {
      border-right-color: transparent;
    }
  }

  tbody {
    border-color: transparent;
  }

  .alive:before {
    background: var(--tui-success-fill);
  }
  
  tui-tag.tag-debit .t-tag, tui-tag.tag-credit .t-tag{
    width: 100px !important;
    text-align: center !important;
  }
}

tui-tag.tag-debit{
  background-color: rgb(209, 32, 32);
  color: #fff;
}

tui-tag.tag-credit{
  background-color: var(--tui-support-04);
  color: #fff;
}

tui-tag.tag-player-sign{
  background: var(--tui-accent-hover);
  color: #fff;

  .t-tag{
    width: 150px !important;
  }

}

tui-tag.tag-prize{
  background: var(--tui-positive-hover);
  color: #fff;

  .t-tag{
    width: 150px !important;
  }

}
