/* You can add global styles to this file, and also import other style files */
@import "@taiga-ui/core/styles/taiga-ui-theme.less";
@import "@taiga-ui/core/styles/taiga-ui-fonts.less";
@import "@taiga-ui/styles/taiga-ui-global.less";

@import "@taiga-ui/core/styles/taiga-ui-local.less";
@import "@taiga-ui/styles/basic/keyframes.less";
@import "@taiga-ui/styles/basic/main.less";
@import "@taiga-ui/styles/markup/tui-container.less";
@import "@taiga-ui/styles/markup/tui-form.less";
@import "@taiga-ui/styles/markup/tui-island.less";
@import "@taiga-ui/styles/markup/tui-list.less";
@import "@taiga-ui/styles/markup/tui-mobile-only.less";
@import "@taiga-ui/styles/markup/tui-required.less";
@import "@taiga-ui/styles/markup/tui-row.less";
@import "@taiga-ui/styles/markup/tui-skeleton.less";
@import "@taiga-ui/styles/markup/tui-space.less";
@import "@taiga-ui/styles/markup/tui-table.less";
@import "@taiga-ui/styles/markup/tui-text.less";
@import '@taiga-ui/core/styles/taiga-ui-local.less';

.navbar {
  color: #fff;
  background: linear-gradient(90deg, rgba(0,0,75,1) 0%, rgba(48,66,198,0.846673703661152) 100%) !important;
	padding: 5px 16px;
  padding: 30px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.title-nav {
  color: #fff;
  text-decoration: none;
}

.nav-icon {
  color: #fff !important;
}

nav {
  color: #fff !important;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 75, 1) 0%,
    rgba(48, 66, 198, 0.846673703661152) 100%
  ) !important;
  backdrop-filter: none var(--tui-disabled-opacity) !important;
  display:flex;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 12px;
}

#navbar-custom {
  display: flex;
  justify-content: space-between;
}

#navbar-custom > div {
    flex: 1;
    display: flex;
}

.div-container{
  justify-content: center;
  align-items: center;
}

.button-height{
  overflow: visible;
  height: calc(100% + 55px); /* Sostituisci <altezza del submenu> con l'altezza effettiva del tuo div del submenu */
  position: relative; /* Necessario per posizionare correttamente il div del submenu */
}

:host ::ng-deep tui-tab-bar ._nghost-pfb-c27 {
  color: black !important;
  opacity: unset !important;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  padding: 10px;
  display: none;
}

button:hover .submenu {
  display: block;
}

.submenu-square{
  margin-top: 60px;
  margin-left: 30px;
  position: fixed;
  background-color: #FFFFFF; /* Sfondo bianco */
  border: 1px solid #dee0e4; /* Bordo grigio chiaro */
  border-radius: 5px; /* Angoli leggermente arrotondati */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Ombra leggera per dare un effetto elevato */
  min-width: 200px; /* Larghezza minima del div */
  transition: 0.3s ease; /* Transizione fluida per eventuali animazioni */
  min-height: 168px;
}

.disabled-click{

  cursor: default;
}

div.submenu-square a {
  color: #333; /* Colore del testo per i link */
  padding: 8px 12px; /* Spazio intorno ai link */
  text-decoration: none; /* Rimuove la sottolineatura */
  display: block; /* Rende ogni link un blocco, utile per la spaziatura e l'hover */
  font-size: 13px;
  font-weight: 300;
  height: 56px;
}

div.submenu-square a:hover {
  background-color: #E4E8ED;
}

.action {
  flex: 1;
  align-items: center;

  &:first-child {
    --tui-action-color: var(--tui-positive);
    --tui-action-background: var(--tui-success-bg);
  }

  &:last-child {
    --tui-action-color: var(--tui-negative);
    --tui-action-background: var(--tui-error-bg);
  }
}

.badge-top-stats{
  .gradient(rgba(0, 0, 75, 1) 0%,
  rgba(48, 66, 198, 0.846673703661152) 100%);
}

.matchday {
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(236, 236, 236, 1) 20%,
    rgba(217, 217, 217, 1) 40%,
    rgba(217, 217, 217, 1) 60%,
    rgba(236, 236, 236, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  font-size: 15px;
  font-family: "Geologica", sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 1px;
  padding: 5px;
  padding-top: 10px;
  margin-left: 5px !important;
  margin-top: 10px !important;
}

.logo-match-style{
  width: 80px !important;
  height: 80px !important;
}

fieldset.t-item[_ngcontent-vmu-c17] {
  padding: 0px !important;
}

.template {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0 0.5rem 0 -0.25rem;
}

.player-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  width: 150px;
}

.player-name-motm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
  width: 180px;
  font-size: 15px;
}

#tuitui .t-tag {
  background-color: var(--tui-support-04);
}

#tuituiAssist .t-tag {
  background-color: var(--tui-support-08);
}

#tuituiYellowCard .t-tag {
  background-color: var(--tui-warning-fill);
}

#tuituiRedCard .t-tag {
  background-color: var(--tui-error-fill);
}

.badge-position {
  margin-left: 55px;
}

.badge-position-motm {
  background-color: var(--tui-support-04);
}

.multiselect-label .t-text.ng-star-inserted {
  margin-left: 15px;
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
}

.t-tag .t-text {
  width: 300px !important;
}

#matchTab {
  width: 83%;
  position: fixed;
  left: 142px;
}

tui-multi-select div.tui-autofill {
  padding-top: 0px !important;
  height: 55px !important;
}

tui-combo-box .t-input {
  top: -10px !important;
}

#resume-input {
  padding: 0px !important;
  position: absolute;
  left: 15px;
}

.resume-row {
  width: 85%;
  position: fixed;
  margin-top: 100px;
  left: 143px;
}

.tui-island-resume {
  width: 95% !important;
}

.save-button .t-wrapper{
  background-color: #34b41f;
}

.goals-count{
  text-align: center !important;
}

input .t-input.ng-untouched.ng-pristine.ng-valid {
  padding-top: 0; /* Modifica questo valore come preferisci */
}

.scrollable-container {
  max-height: calc(100vh - 50px); /* puoi personalizzare l'altezza come preferisci */
  overflow-y: auto;
}

.custom-multi-select {
  max-height: 250px; /* puoi personalizzare questo valore */
  overflow-y: auto;
}

.button-fixture{
  width: 100%; 
  height: 100px;
  float: left; 
  margin: 2px;
}

.h-40{
  height: 40px !important;
}

.w-20{
  width: 20px !important;
}

.w-40{
  width: 40px !important;
}

.w-50{
  width: 50px !important;
}

.w-100{
  width: 100px !important;
}

.ftsz-20{
  font-size: 20px !important;
}

.ftsz-25{
  font-size: 25px !important;
}

.ftsz-15{
  font-size: 15px !important;
}

.ftsz-15-b{
  font-size: 18px !important;
  font-weight: bold !important;
}

.font-b{
  font-weight: bold !important;
}

.v-align-middle{
  vertical-align: middle !important;
}

.v-align-bottom{
  vertical-align: bottom !important;
}

.txt-center-align{
  text-align: center !important;
}

.custom-disabled{
  opacity: 0.5 !important;
}

.table > :not(caption) > * > *{
  padding: 0;
}

.th-custom-size-players{
  padding-bottom: 6px !important;
}

.header-edit-player {
  display: flex;
  width: 100%;
  height: 3rem;
  text-align: initial;
  background: #ffdd2d;
}

.match-status-info{
  text-align: right;
}

.exclamation-info-home{
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.notation-name{
  display: inline-block; /* Questo permette al span di rispettare il max-width */
  max-width: 130px; /* Adattare secondo le esigenze */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  vertical-align: middle;
}







