<div style="width: 95%; height: 90px; margin-top: 15px; margin-left: 50px" [style.backgroundColor]="getTeamColor(team.team_name)">
    <img [src]="team.team_logo" alt="" style="width: 85px; height: 85px; margin-left: 10px; margin-top: 2.5px;">
</div>

<!-- Tabella -->

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
    <table *ngIf="data$ | async as data" tuiTable class="table"
        style="margin-left: 50px; margin-top: 15px; width: 95%; font-size: 15px;" [columns]="columns"
        [direction]="(direction$ | async) || 1" [tuiSortBy]="sorter$ | async" (directionChange)="onDirection()"
        (tuiSortByChange)="onSortByChange($event)">
        <thead>
            <tr tuiThGroup [style.backgroundColor]="getTeamColor(team.team_name)">
                <th *tuiHead="'name'" tuiTh tuiSortable class="th-custom-size-players" [resizable]="true">
                    <span [style.color]="getTeamText(team.team_name)" style="margin-left: 20px;">
                        <fa-icon style="margin-right: 12px; font-size: 20px;" [icon]="faUser"></fa-icon>
                        Nome
                    </span>
                </th>
                <th [style.color]="getTeamText(team.team_name)" *tuiHead="'overall'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faStar"></fa-icon>
                    Tot.
                </th>
                <th [style.color]="getTeamText(team.team_name)" *tuiHead="'position'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faIdCard"></fa-icon>
                    Ruolo
                </th>
                <th [style.color]="getTeamText(team.team_name)" *tuiHead="'salary'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faCommentDollar"></fa-icon>
                    Stipendio
                </th>
                <th [style.color]="getTeamText(team.team_name)" *tuiHead="'player_value'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    <fa-icon style="margin-right: 10px; font-size: 20px;" [icon]="faSackDollar"></fa-icon>
                    Valore
                </th>
                <th [style.color]="getTeamText(team.team_name)" *tuiHead="'actions'" class="txt-center-align th-custom-size-players" tuiTh tuiSortable>
                    Azioni
                </th>
            </tr>
        </thead>
        <tbody *tuiLet="data | tuiTableSort as sortedData" tuiTbody [data]="sortedData">
            <tr *ngFor="let item of sortedData" tuiTr>
                <td *tuiCell="'name'" tuiTd class="v-align-bottom" [class.match]="isMatch('name')">
                    <span><img style="width: 35px; height: 35px; margin-right: 10px; margin-left: 10px;"
                            src="{{item.photo}}">{{ item.name }}</span>
                </td>
                <td *tuiCell="'overall'" style="font-weight: bold;" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('overall')">
                    <span>{{ item.overall }}</span>
                </td>
                <td *tuiCell="'position'" style="font-weight: bold;" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('position')">
                    <span>{{ item.position }}</span>
                </td>
                <td *tuiCell="'salary'" style="font-weight: bold;" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('position')">
                    <span>{{ item.salary | tuiFormatNumber: {thousandSeparator: '.', decimalSeparator: ','} }}</span>
                </td>
                <td *tuiCell="'player_value'" style="font-weight: bold;" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('position')">
                    <span>{{ item.player_value | tuiFormatNumber: {thousandSeparator: '.', decimalSeparator: ','}
                        }}</span>
                </td>
                <td *tuiCell="'actions'" tuiTd class="v-align-middle txt-center-align"
                    [class.match]="isMatch('red_card')">
                    <span>
                        <a><fa-icon style="font-size: 20px; cursor: pointer;" [icon]="faSackDollar"></fa-icon></a>
                    </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td [colSpan]="columns.length">
                    <tui-table-pagination class="tui-space_top-2" [total]="(total$ | async) || 0"
                        (pageChange)="onPage($event)" (sizeChange)="onSize($event)"></tui-table-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</tui-loader>